footer {
    background-color: #000;
    margin-bottom: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer span {
    color: #F12323;
    font-size: 2.5em;
    font-family: 'Black Han Sans', sans-serif;
}

/* #sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
} */