/* Headers - font-family: 'Nanum Gothic', sans-serif;
Paragraphs - font-family: 'Black Han Sans', sans-serif; 

Marvel Red = #F12323; */


body {
  background-color: black;
  height: 100%;
  color: whitesmoke;
}

.navbar {
  position: relative;
  z-index: 3 !important;
}

.content {
  padding: 10%;
  padding-right: 250px;
}

.image img {
  position: absolute;
  z-index: 2 !important;
}

.text {
  position: relative;
  z-index: 3 !important;
}

.no-bullet {
  list-style-type: none;
  /* padding-left: 0; */
}

/* MAIN */
.stars {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

/* Shared pages */
.no-indent {
  padding-left: 0;
}

/* Captain America: The Frist Avenger */
.c1-gradient {
  height: auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, grey, #c90606);
  position: relative;
}

.redskull img {
  width: 50%;
  bottom: 8px;
  right: 20px;
}

.tesseract img {
  width: 25%;
  top: 50px;
  right: 0px;
  transform: rotate(20deg);
}

/* Iron Man */

.im1 {
  background: url('https://image.freepik.com/free-vector/no-translate-detected_46250-347.jpg') no-repeat center fixed;
  background-size: cover;
  height: auto;
  width: 100%;
  position: relative;
}

.iron-monger img {
  width: 50%;
  bottom: 8px;
  left: 20px;
}


/* The Hulk */



@media (max-width: 768px) {
  .redskull img {
    width: 50%;
    left: 25%;
  }
}

@media (max-width: 992px) {
  .iron-monger img {
    width: 80%;
    margin: auto;
  }
}