/* Headers - font-family: 'Nanum Gothic', sans-serif;
Paragraphs - font-family: 'Black Han Sans', sans-serif; 
Marvel Red = #F12323; */


body {
  background-color: black;
  height: 100%;
  color: whitesmoke;
}

.navbar {
  position: relative;
  z-index: 3 !important;
}

.buffer {
  margin: 5% 0;
  padding: 5% 0;
}

.content {
  padding: 10%;
  padding-right: 250px;
}

.image img {
  position: absolute;
  z-index: 1 !important;
}

.text {
  position: relative;
  z-index: 3 !important;
}

/* At 768, center all components */

/* Captain America: The Frist Avenger */
.c1-gradient {
  height: auto;
  width: 100%;
  background-image: linear-gradient(to bottom right, grey, #c90606);
  position: relative;
}

.redskull img {
  width: 50%;
  bottom: 8px;
  right: 20px;
}

.tesseract img {
  width: 25%;
  top: 50px;
  right: 0px;
  transform: rotate(20deg);
}

/* Iron Man */
.im1-gradient {
  height: auto;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,ba1013+28,c79810+100 */
  background: #eab92d;
  background: -moz-linear-gradient(45deg, #eab92d 0%, #ba1013 28%, #c79810 100%);
  background: -webkit-linear-gradient(45deg, #eab92d 0%, #ba1013 28%, #c79810 100%);
  background: linear-gradient(225deg, #eab92d 0%, #ba1013 28%, #c79810 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
}

.stars {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}